# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# Visual Studio Code
.vscode/

# Build directories
build/
cmake-build-*/

# Makefiles and CMake files
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Logs and temp files
*.log
*.tmp
